
# for reading environment variables from the ".env" file:
python-dotenv

# for fetching and processing CSV formatted data:
pandas

# for web application interface:
Flask==3.0.3

# for testing:
pytest
beautifulsoup4 # version 4.12.3
