
{% extends "layout.html" %}

{% block content %}

    <h2>Stocks Form</h2>

    <form action="/stocks/dashboard" method="POST">
        <label>Stock:</label>
        <select id="my-stock-selector" name="symbol">
            <option value="MSFT" selected>Microsoft (MSFT)</option>
            <option value="GOOG">Google (GOOGL)</option>
            <option value="AAPL">Apple (AAPL)</option>
            <option value="TSLA">Tesla (TSLA)</option>
        </select>
        <br>

        <button id="my-submit-btn">Go!</button>
    </form>

{% endblock %}
